<div class="admin-container">
  <nav class="sidebar">
    <div class="logo">
      <img src="assets/logo.png" alt="CineMood Logo" class="logo-img">
      <span>CineMood</span>
    </div>

    <ul class="sidebar-nav">
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="bi bi-grid-fill"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/filmes" routerLinkActive="active">
          <i class="bi bi-film"></i>
          <span>Filmes</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/pessoas" routerLinkActive="active">
          <i class="bi bi-people-fill"></i>
          <span>Pessoas</span>
        </a>
      </li>
    </ul>
    <button type="button" class="logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span>sair</span>
    </button>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
