<div class="modal-header">
  <h4 class="modal-title">
    @if (modoEdicao) {
      Editar Filme
    } @else {
      Adicionar Filme
    }
  </h4>
  <button type="button" class="btn-close" aria-label="Close"
    (click)="activeModal.dismiss('fechou')"></button>
</div>

<form [formGroup]="filmeForm" (ngSubmit)="salvar()">
  <div class="modal-body">

    <div class="mb-3">
      <label class="form-label">Título</label>
      <input type="text" class="form-control" formControlName="titulo">
    </div>

    <div class="mb-3">
      <label class="form-label">Ano</label>
      <input type="number" class="form-control" formControlName="anoLancamento">
    </div>

    <div class="mb-3">
      <label class="form-label">Sinopse</label>
      <textarea class="form-control" rows="3" formControlName="sinopse"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">URL do Poster</label>
      <input type="text" class="form-control" formControlName="posterUrl">
    </div>

    <div class="mb-3">
      <label class="form-label">Frase de efeito</label>
      <input type="text" class="form-control" formControlName="fraseEfeito">
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn-cancel" type="button"
      (click)="activeModal.dismiss('cancelou')">Cancelar</button>

    <button class="btn-save" type="submit"
      [disabled]="filmeForm.invalid || loading()">

      @if (loading()) {
        <span class="spinner-border spinner-border-sm"></span>
        Salvando...
      } @else {
        Salvar
      }

    </button>
  </div>
</form>
