<div class="modal-backdrop" (click)="fechar()"></div>

<div class="modal-shell">
  <header class="modal-header">
    <h4>{{ modoEdicao ? 'editar filme' : 'adicionar filme' }}</h4>
    <button type="button" class="btn-close" (click)="fechar()">×</button>
  </header>

  <form [formGroup]="filmeForm" (ngSubmit)="salvar()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">título *</label>
        <input class="form-control" formControlName="titulo" />
      </div>

      <div class="mb-3">
        <label class="form-label">ano *</label>
        <input type="number" class="form-control" formControlName="anoLancamento" />
      </div>

      <div class="mb-3">
        <label class="form-label">poster (url)</label>
        <input class="form-control" formControlName="posterUrl" />
      </div>

      <div class="mb-3">
        <label class="form-label">sinopse</label>
        <textarea class="form-control" formControlName="sinopse"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">frase de efeito</label>
        <input class="form-control" formControlName="fraseEfeito" />
      </div>
    </div>

    <footer class="modal-footer">
      <button type="button" class="btn-cancel" (click)="fechar()">cancelar</button>
      <button type="submit" class="btn-save" [disabled]="loading()">salvar</button>
    </footer>

  </form>
</div>
